    <div> Violations Vattenfall.nl/meterstanden = <span id="scorehttpswwwvattenfallnlklantenservicemeterstanden"></span>  </div>
                                <script>
                                 const sitescorehttpswwwvattenfallnlklantenservicemeterstanden = document.getElementById('scorehttpswwwvattenfallnlklantenservicemeterstanden')
                                 sitescorehttpswwwvattenfallnlklantenservicemeterstanden.innerText = document.querySelector('li.httpswwwvattenfallnlklantenservicemeterstanden > div > h5 span').innerText
                                </script>
                                 <div> Violations Vattenfall.nl/meterstanden = <span id="scorehttpswwwvattenfallnlklantenservicemeterstanden"></span>  </div>
                                <script>
                                 const sitescorehttpswwwvattenfallnlklantenservicemeterstanden = document.getElementById('scorehttpswwwvattenfallnlklantenservicemeterstanden')
                                 sitescorehttpswwwvattenfallnlklantenservicemeterstanden.innerText = document.querySelector('li.httpswwwvattenfallnlklantenservicemeterstanden > div > h5 span').innerText
                                </script>
                             