<div id='myDivTwoEssent' class=" rounded-sm mt-2 block h-[480] w-full aspect-[4/3] md:aspect-[4/1]"></div>
<script>
    var xData = [
        '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09'
    ];

    var trace1 = {
        x: xData,
        y: ['72', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: 'Essent Homepage	',
        visible: true
    };

    var trace2 = {
        x: xData,
        y: ['89', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: 'Essent klantworden	',
        visible: true
    };

    var trace3 = {
        x: xData,
        y: ['73', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: 'Essent energie besparen	',
        visible: true
    };

    var trace4 = {
        x: xData,
        y: ['60', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: 'Essent Speciaal voor klanten	',
        visible: true
    }
    var trace5 = {
        x: xData,
        y: ['68', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: 'Essent klantenservice	',
        visible: true
    }
    var trace6 = {
        x: xData,
        y: ['6', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: 'Mijn.Essent	',
        visible: true
    }

    var trace7 = {
        x: xData,
        y: ['53', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: 'Essent Zakelijk Homepage	',
        visible: true
    }

    var trace8 = {
        x: xData,
        y: ['58', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: 'Essent Zakelijk klantworden	',
        visible: true
    }

    var trace9 = {
        x: xData,
        y: ['72', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: 'Essent zonnepanelen	',
        visible: true
    }

    var trace10 = {
        x: xData,
        y: ['65', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: 'Essent isolatie	',
        visible: true
    }

    var trace11 = {
        x: xData,
        y: ['100', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: 'Essent stijgende energieprijzen	',
        visible: true
    }
    var trace12 = {
        x: xData,
        y: ['74', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: 'Essent contract wijzigen	',
        visible: true,
    }




    var trace13 = {
        x: xData,
        y: ['', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: '',
        visible: false,
    }
    var trace14 = {
        x: xData,
        y: ['', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: '',
        visible: false,
    }
    var trace15 = {
        x: xData,
        y: ['', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: '',
        visible: false,
    }
    var trace16 = {
        x: xData,
        y: ['', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: '',
        visible: false,
    }
    var trace17 = {
        x: xData,
        y: ['', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: '',
        visible: false,
    }
    var trace18 = {
        x: xData,
        y: ['', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: '',
        visible: false,
    }
    var trace19 = {
        x: xData,
        y: ['', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: '',
        visible: false,
    }
    var trace20 = {
        x: xData,
        y: ['', '', '', '', '', '', '', '', '', '', '', ''],
        mode: 'lines+markers',
        name: '',
        visible: false,

    }



    var data = [trace1, trace2, trace3, trace4, trace5, trace6, trace7, trace8, trace9, trace10, trace11, trace12, trace13, trace14, trace15, trace16, trace17, trace18, trace19, trace20];

    var layout = {
        title: {
            text: 'Aantal accessibility/html technische issues',
            font: {
                family: 'Verdana',
                size: 14,
                color: '#7f7f7f'
            },
            xref: 'paper',
            x: 0.05,
        },
        plot_bgcolor: '#FBFAFA',
        colorway: ['#1d1d1d', '#ebce2b', '#702c8c', '#db6917', '#96cde6', '#ba1c30', '#c0bd7f', '#7f7e80', '#5fa641', '#d485b2', '#4277b6', '#df8461', '#463397', '#e1a11a', '#91218c', '#e8e948', '#7e1510', '#92ae31', '#6f340d', '#d32b1e', '#2b3514'],
        images: [{
            name: '',
            source: "https://a11yreport.vercel.app/fakelogo.d0459c22.png",
            xref: "paper",
            yref: "paper",
            x: 0.10,
            y: 0.9,
            sizex: 0.7,
            sizey: 0.7,
            opacity: 0.1,
            layer: "below"
        }],

    };

    Plotly.newPlot('myDivTwoEssent', data, layout, {
        modeBarButtonsToRemove: ['zoom2d', 'pan2d', 'select2d', 'lasso2d', 'zoomIn2d', 'zoomOut2d', 'autoScale2d', 'resetScale2d'],
        displaylogo: false,
        responsive: true
    });
</script>
<!-- /////////////////////////////////////////////////////////////////////////////// -->

<!-- /////////////////////////////////////////////////////////////////////////////// -->



<!-- /////////////////////////////////////////////////////////////////////////////// -->

<table class="table w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="thead-dark text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="py-3 px-6">Page URL</th>
            <th scope="col" class="py-3 px-6">Accessibility violations oktober</th>

        </tr>
    </thead>
    <tbody>

        <tr class="bg-white border-b">
            <td class="py-4 px-6">
                Essent Homepage
            </td>
            <td class="py-4 px-6">
                72
            </td>
        </tr>


        <tr class="bg-white border-b">
            <td class="py-4 px-6">
                Essent klantworden
            </td>
            <td class="py-4 px-6">
                89
            </td>
        </tr>


        <tr class="bg-white border-b">
            <td class="py-4 px-6">
                Essent energie besparen
            </td>
            <td class="py-4 px-6">
                73
            </td>
        </tr>


        <tr class="bg-white border-b">
            <td class="py-4 px-6">
                Essent Speciaal voor klanten
            </td>
            <td class="py-4 px-6">
                60
            </td>
        </tr>


        <tr class="bg-white border-b">
            <td class="py-4 px-6">
                Essent klantenservice
            </td>
            <td class="py-4 px-6">
                68
            </td>
        </tr>


        <tr class="bg-white border-b">
            <td class="py-4 px-6">
                Mijn.Essent
            </td>
            <td class="py-4 px-6">
                6
            </td>
        </tr>


        <tr class="bg-white border-b">
            <td class="py-4 px-6">
                Essent Zakelijk Homepage
            </td>
            <td class="py-4 px-6">
                53
            </td>
        </tr>


        <tr class="bg-white border-b">
            <td class="py-4 px-6">
                Essent Zakelijk klantworden
            </td>
            <td class="py-4 px-6">
                58
            </td>
        </tr>


        <tr class="bg-white border-b">
            <td class="py-4 px-6">
                Essent zonnepanelen
            </td>
            <td class="py-4 px-6">
                72
            </td>
        </tr>


        <tr class="bg-white border-b">
            <td class="py-4 px-6">
                Essent isolatie
            </td>
            <td class="py-4 px-6">
                65
            </td>
        </tr>


        <tr class="bg-white border-b">
            <td class="py-4 px-6">
                Essent stijgende energieprijzen
            </td>
            <td class="py-4 px-6">
                100
            </td>
        </tr>


        <tr class="bg-white border-b">
            <td class="py-4 px-6">
                Essent contract wijzigen
            </td>
            <td class="py-4 px-6">
                74
            </td>
        </tr>



    </tbody>
</table>
<div class="py-3 px-6  bg-gray-50">
    <a href="./axe-reports/2022-oktober-essent.html" class="underline">Bekijk data van oktober</a>
</div>
<!-- /////////////////////////////////////////////////////////////////////////////// -->