<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Page URL</th>
            <th scope="col">Accessibility violations oktober</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Essent.nl </td>
            <td>72 </td>
        </tr>


        <tr>
            <td>Essent.nl/klantenservice </td>
            <td>68 </td>
        </tr>



    </tbody>
</table>
<a href="./axe-reports/2022-oktober-two.html">Bekijk data van deze maand</a>